* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    letter-spacing: 1em;
}
h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
}
p {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}